/*
 * Copyright (c) 2019 Matthias Wauer
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <nordic/nrf51822_qfaa.dtsi>

/ {
	model = "Calliope mini";
	compatible = "calliope,mini", "nordic,nrf51822-qfaa", "nordic,nrf51822";

	/* These aliases are provided for compatibility with samples */
	aliases {
		sw0 = &buttonA;
		sw1 = &buttonB;
		bma280 = &bma280;
	};

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,bt-mon-uart = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	gpio_keys {
		compatible = "gpio-keys";
		buttonA: button_0 {
			label = "BTN_A";
			gpios = <&gpio0 17 GPIO_INT_ACTIVE_LOW>;
		};

		buttonB: button_1 {
			label = "BTN_B";
			gpios = <&gpio0 16 GPIO_INT_ACTIVE_LOW>;
		};
	};

	leds {
		compatible = "ws2812b_sw";
		led_rgb: led_rgb {
			gpios = <&gpio0 18 0>;
			label = "rgb";
		};
	};
};

&gpiote {
	status ="okay";
};

&gpio0 {
	status ="okay";
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	tx-pin = <24>;
	rx-pin = <25>;
};

/* expansion */
/*
&uart1 {
	status = "disabled";
	current-speed = <115200>;
	tx-pin = <EXT_TX_GPIO_PIN>;
	rx-pin = <EXT_RX_GPIO_PIN>:
};
*/

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
	sda-pin = <20>;
	scl-pin = <19>;



	/* BMX055 combines 3 sensors */
	/* geo magnetic sensor */
	bmm150@10 {
		compatible = "bmm150";
		reg = <0x10>;
		label = "bmm150";
		status = "okay";
	};
	/* bmx055 accelerometer */
	bma280: bma280@18 {
		compatible = "bma280";
		reg = <0x18>;
		label = "bma280";
		status = "okay";
		/* shared interrrupt w/ bmg160 */
		int1-gpios = <&gpio0 21 0>;
	};
	/* bmx055 gyro */
	bmg160@68 {
		compatible = "bmg160";
		reg = <0x68>;
		label = "bmg";
		status = "okay";
		/* shared interrupt w/ bma280 */
		int3-gpios = <&gpio0 21 0>;
	};

};

&flash0 {
	/*
	 * For more information, see:
	 * http://docs.zephyrproject.org/latest/guides/dts/index.html#flash-partitions
	 */
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x8000>;
		};
		slot0_partition: partition@8000 {
			label = "image-0";
			reg = <0x00008000 0x1a000>;
		};
		slot1_partition: partition@22000 {
			label = "image-1";
			reg = <0x00022000 0x1a000>;
		};
		scratch_partition: partition@3c000 {
			label = "image-scratch";
			reg = <0x0003c000 0x2000>;
		};
		storage_partition: partition@3e000 {
			label = "storage";
			reg = <0x0003e000 0x00002000>;
		};
	};
};
